{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-object-assign",
    "transform-vue-jsx",
    "transform-runtime"
  ],
  "comments": false
}
