{
  "root": true,
  "extends": "eslint-config-standard",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": "off",
    "prefer-promise-reject-errors": "off",
    "arrow-parens": "off",
    "valid-jsdoc": "off",
    "eol-last": "off",
    "array-bracket-spacing": "off",
    "no-unused-vars": "off",
    "no-else-return": "off",
    "no-unneeded-ternary": "off",
    "strict": "off",
    "linebreak-style": "off",
    "no-irregular-whitespace": [
      "error",
      {
        "skipComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "EASY_ENV_IS_PROD": true,
    "EASY_ENV_IS_NODE": true,
    "EASY_ENV_IS_BROWSER": true
  },
  "plugins": [
    "vue"
  ]
}