logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
dist/
public/
.DS_Store
.vscode
*.gz
*.tar
*.rar
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map

config/buildConfig.json
config/manifest.json
config/manifest-dll.json
app/view/*
!app/view/layout.html
!app/view/README.md
!app/view/.gitkeep
