.DS_Store
.happypack/
node_modules/
npm-debug.log
.idea/
dist
static
public
private
run
*.iml
artifacts.json
*tmp
_site
logs
.vscode
config/buildConfig.json
config/manifest.json
config/manifest-dll.json
app/template/*
!app/template/layout.html
!app/template/README.md
!app/template/.gitkeep
package-lock.json
yarn.lock